*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     height: 100vh;
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#loader{
    height: 100px;
    width: 100px;
    border: 8px solid rgba(33, 24, 24, 0.452);
    border-top: 8px solid rgba(232, 112, 14, 0.479);
    border-radius: 50%;
    animation: load 3s ease-in 0.2s infinite;
}

 @keyframes load {
    from {
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
} 










pre {
   position: relative;
   top: 20%;
   left: -30%;
}