*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

#nav{
    background-color: #0f1111;
    height: 45px;
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    color: white;
    
}

.border:hover{
    border: 1px solid white;
}
#nav-logo img{
    width: 100px;
    height: 95%;
    object-fit: cover;
    color: white;
    
}

#nav-logo:hover{
    border: none;
}

#del p{
    color: #cccccc;
    font-size: 0.8rem;
    padding-left: 1.2rem;
}

#location{
    display: flex;
}

#nav-input{
    display: flex;

    border-radius: 3px;
    

}

#nav-select{
    background-color: #f3f3f3;
    height: 4vh; 
    width: 4vw;
    padding: 2px 5px;
    
}

#search-amazon input {
    width: 33vw;
    height: 4vh;
    font-size: 1.05rem;
}
 #search-icon{
    height: 4vh;    
    width: 3vw;
    padding: 3px 6px;
    background-color: rgba(255, 115, 0, 0.855);
        
}

#search-icon i{
    font-size: 1.5rem;
}

#nav-language{
    height: 5vh;
    padding-top: 0.9rem;
}


#acc-signin{
    font-size: 0.85rem;
}

#return{
    font-size: 0.85rem;
}

#nav-carts i{
    font-size: xx-large;
}

/* panel */

#panel{
    background-color: rgb(43, 43, 56);
    width: 100vw;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0px 10px;
}       

/* hero section */

#hero-section{
   /* height: 90vh; */
   height: auto;
   padding-bottom: 50px;
   width: 100vw;
    background-image: url(hero-section.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(248, 0, 0, 0.781);
    padding-top: 20%;
    
}


#first-row{
    display: flex;
    justify-content: space-around;
}

.boxes{
    height: 450px;
    width: 300px;
    background-color: white;
    margin: 3px;
    
}

#box1-detail{
    font-size: 23px;
    font-weight: bold;
    padding: 20px 15px;
}

#box1-1{
    height: 110px;
    width: 120px;
    display: flex;
    
}
.boxes img{
    margin-top: 10px;
    margin-left: 18px;
    width: 120px;
    height: 110px;
    object-fit: cover;
}

#box1-det{
    display: flex;
}

#box1-1-details{
    font-size: 12px;
    padding-top: 14px;
    padding-left: 18px;
}


#box1-2-details{
    font-size: 12px;
    padding-top: 14px;
    padding-left: 55px;
}

#box1-2{
    height: 110px;
    width: 120px;
    display: flex;
    
}

#box1-2nd-details{
    display: flex;
     font-size: 12px;
   
}

#first{
    padding-top: 14px;
    padding-left: 20px;
}

#second{
    padding-top: 14px;
    padding-left: 90px;
}

#explore{
    padding-top: 30px;
    padding-left: 20px;
}

#explore a{
    text-decoration: none;
    color: #2162a1;
}